

# Google Cloud Storage Configuration
GOOGLE_CLOUD_PROJECT_ID=lithe-resource-450314-q8
GCS_BUCKET_NAME=cloudcomputing_bucket1
GOOGLE_APPLICATION_CREDENTIALS=./service-account-key.json

# App Configuration
PORT=3000
NODE_ENV=production

